body {
    font-family: Public Sans, sans-serif;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1px;
    margin: 45px 20px;
}

.foto {
    width: 335px;
    height: 432px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    gap: 5px;
    padding: 20px 22px;
}

.foto h2 {
    font-size: 30px;
    font-weight: 700;

}

.foto p {
    font-size: 17px;
    font-weight: 300;
}

.foto h2, p {
    color: #fff;
}

.foto.roma{
    background: url(../Images/rome.png) center center no-repeat;
}

.foto.boat{
    background: url(../Images/boat.png) center center no-repeat;
}

.foto.sand{
    background: url(../Images/sand-and-sea.png) center center no-repeat;
}

.foto.starry{
    background: url(../Images/starry-night.png) center center no-repeat;
}


